{
  "openapi": "3.0.3",
  "info": {
    "title": "API Билетный сервис",
    "description": "Тест описание",
    "version": "1.0.0",
    "contact": {
      "name": "API Support",
      "url": "https://www.example.com/support",
      "email": "support@example.com"
      }
  },
   "servers": [
      {
        "url": "https://api.astra-marine.ru:8085/InternetTestJson/hs",
        "description": "Тестовая среда"
      }
    ],    
  "paths": {
    "/auth/register": {
       "get":{
         "tags":[
           "Аутентификация"
         ],
         "description": "Получение новой пары токенов access/refresh, с помощью токена register.",
         "operationId": "15ba7e4e3af80cb40a6b63075dfb6903",
         "summary": "Первичное получение токенов",
         "responses": {
           "200": {
             "description": "Успешный ответ",
             "content": {
               "applicatio/json": {
                 "schema": {
                   "properties": {
                     "access": {
                       "type": "string",
                       "description": "access токен",
                       "example": "ew0KInR5cCI6ICJKV1QiLA0KImFsZyI6ICJIUzI1NiINCn0.ew0KImlzcyI6ICJBc3RyYVRlc3QiLA0KIm5iZiI6IDE3NzAwMzQyNTIsDQoiaWF0IjogMTc3MDAzNDI1MiwNCiJhY2Nlc3NfdHlwZSI6ICJBY2Nlc3MiLA0KImF1ZCI6ICJhc3RyYVNlbGwiLA0KInN1YiI6ICJKV1RVc2VyVGVzdCIsDQoiZXhwIjogMTc3MTI0Mzg1Mg0KfQ.J8_erdcxqmvptmYyfYBL0dfBTBIUHFzqJ0wv0QkEvUg"
                       },
                       "refresh": {
                       "type": "string",
                       "description": "refresh токен",
                       "example": "ew0KInR5cCI6ICJKV1QiLA0KImFsZyI6ICJIUzI1NiINCn0.ew0KImlzcyI6ICJBc3RyYVRlc3QiLA0KIm5iZiI6IDE3NzAwMzQyNTIsDQoiaWF0IjogMTc3MDAzNDI1MiwNCiJhY2Nlc3NfdHlwZSI6ICJSZWZyZXNoIiwNCiJhdWQiOiAiYXN0cmFTZWxsIiwNCiJzdWIiOiAiSldUVXNlclRlc3QiLA0KImV4cCI6IDE3NzAwMzQ4NTINCn0.nJFBnUkoZFNbSbsKjBjvs9wtxu43qooRS7-2ICxXRgU"
                       }
                   },
                   "type": "object"
                 }
               }
             }
           },
           "402": {
             "description": "Время действия токена register истекло. Проверьте токен или запросите новый токен с типом register у техподдержки"
           }
         }
       }
    },
    "/auth/refresh": {
       "get": {
         "tags": [
           "Аутентификация"
         ],
         "description": "Обновление пары токенов access\refresh, с помощью токена refresh",
         "operationId": "15ba7e4e3af80cb40a6b63075dfb6902",
         "summary": "Обновление пары токенов",
         "responses": {
           "200": {
             "description": "Успешный ответ",
             "content": {
               "applicatio/json": {
                 "schema": {
                   "properties": {
                     "access": {
                       "type": "string",
                       "example": "ew0KInR5cCI6ICJKV1QiLA0KImFsZyI6ICJIUzI1NiINCn0.ew0KImlzcyI6ICJBc3RyYVRlc3QiLA0KIm5iZiI6IDE3NzAwMzQyNTIsDQoiaWF0IjogMTc3MDAzNDI1MiwNCiJhY2Nlc3NfdHlwZSI6ICJBY2Nlc3MiLA0KImF1ZCI6ICJhc3RyYVNlbGwiLA0KInN1YiI6ICJKV1RVc2VyVGVzdCIsDQoiZXhwIjogMTc3MTI0Mzg1Mg0KfQ.J8_erdcxqmvptmYyfYBL0dfBTBIUHFzqJ0wv0QkEvUg"
                       },
                       "refresh": {
                       "type": "string",
                       "example": "ew0KInR5cCI6ICJKV1QiLA0KImFsZyI6ICJIUzI1NiINCn0.ew0KImlzcyI6ICJBc3RyYVRlc3QiLA0KIm5iZiI6IDE3NzAwMzQyNTIsDQoiaWF0IjogMTc3MDAzNDI1MiwNCiJhY2Nlc3NfdHlwZSI6ICJSZWZyZXNoIiwNCiJhdWQiOiAiYXN0cmFTZWxsIiwNCiJzdWIiOiAiSldUVXNlclRlc3QiLA0KImV4cCI6IDE3NzAwMzQ4NTINCn0.nJFBnUkoZFNbSbsKjBjvs9wtxu43qooRS7-2ICxXRgU"
                       }
                   },
                   "type": "object"
                 }
               }
             }
           },
            "402": {
             "description": "Время действия токена refresh истекло.Проверьте токен или получите новую пару токенов методом auth/register"
           }
         }
       }
    },
    "/auth/check": {
      "get": {
        "tags": [
           "Аутентификация"
         ],
        "summary": "Проверка токена",
        "operationId": "15ba7e4e3af80cb40a6b63075dfb6904",
        "description": "Проверка любого токена на валидность и получение информации о нём.",
        "responses": {
           "200": {
             "description": "Успешный ответ. Токен валиден и действителен. Формат даты Unix timestamp",
             "content": {
               "applicatio/json": {
                 "schema": {
                   "properties": {
                     "iss": {
                       "type": "string",
                       "example": "AstraTest"
                       },
                       "nbf": {
                         "type": "integer",
                         "example": 1771316296
                       },
                       "iat": {
                         "type": "integer",
                         "example": 1771316296
                       },
                       "access_type": {
                         "type": "string",
                         "example": "Register"
                       },
                       "aud": {
                         "type": "string",
                         "example": "astraSell"
                       },
                       "sub": {
                         "type": "string",
                         "example": "user"
                       },
                        "exp": {
                         "type": "integer",
                         "example": 1857629896
                       }
                   },
                   "type": "object"
                 }
               }
             }
           },
            "402": {
             "description": "Время действия переданного токена истекло. Получите новую пару токенов методом /auth/refresh или /auth/register."
           }
         }
      }
    },
    "/InternetSale/V1/getServices": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
           "Основное"
         ],
        "summary": "Возвращает массив услуг за выбранный период",
        "operationId": "15ba7e4e3af80cb40a6b63075dfb6905",
        "description": "В случае отсутствия входных параметров возвращается массив услуг за период: ТекущаяДата по КонецГода текущей даты.",
        "requestBody": {
          "required": true,
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                   "dateFrom": {
                     "description": "Начало периода",
                     "type": "string",
                     "example": "2020-01-01T00:00:00"
                   },
                   "dateTo": {
                     "description": "Конец периода",
                     "type": "string",
                     "example": "2020-06-01T00:00:00"
                   },
                   "email": {
                     "description": "Адрес электронной почты авторизованного пользователя. Необходим для ведения логов. При наличии обязателен для передачи",
                     "type": "string",
                     "example": "agent@astra-marine.ru"
                   }
                  },
                "type": "object"
                }
              }
            }
        },
        "responses": {
           "200": {
             "description": "Успешный ответ",
             "content": {
               "applicatio/json": {
                 "schema": {
                   "properties": {
                     "services": {
                       "type": "array",
                       "items": {
                         "properties": {
                           "serviceID": {
                             "type": "string",
                             "example": "000000001",
                             "description": "Идентификатор услуги"
                           },
                           "serviceName": {
                             "type": "string",
                             "example": "City Sightseeing NEVA",
                             "description": "Наименование услуги"
                           },
                           "serviceNoSeats": {
                             "type": "boolean",
                             "example": false,
                             "description": "Без мест. Признак того, что для данной услуги не предусмотрена схема рассадки. Следовательно при использовании методов с входящими параметрами seatCategoryID, seatID таких как getSeatPrices, registerOrder, не нужно передавать параметры  seatCategoryID, seatID"
                           },
                           "serviceType": {
                             "type": "string",
                             "example": "DateTimeSeat",
                             "description": "Тип услуги. Может принимать следующие значения: DateTimeSeat, DateTime, Date, Place. Определяет ветку алгоритма продажи."
                           },
                           "statusRequestBuyer": {
                             "type": "boolean",
                             "example": false,
                             "description": "Показывает необходимость запроса у покупателя статуса «Резидент», «Не резидент». Если параметр принимает значение true, то при использовании методов с входящим параметром  «resident», таких как getSeatPrices, registerOrder, необходимо передать значение параметра «resident»."
                           },
                           "formingBarCode": {
                             "type": "boolean",
                             "example": true,
                             "description": "Показывает, что при формировании продажи штрих-коды не формируются."
                           },
                           "serviceDuration": {
                             "type": "integer",
                             "example": 0,
                             "description": "Продолжительность в минутах"
                           },
                           "barcodeType": {
                             "type": "string",
                             "example": "EAN_13",
                             "description": "Тип ШК для услуги<br> - EAN_13<br> - ITF<br> - CODE_128A<br> - CODE_128B<br> - CODE_128C<br> - CODE_39<br> - QR"
                           },
                           "minutesBeforeClosing": {
                             "type": "integer",
                             "example": 60,
                             "description": "Минут до закрытия продаж"
                           }
                         }
                       }
                       
                       }
                   },
                   "type": "object"
                 }
               }
             }
           }
         }
      }
    },
    "/InternetSale/V1/getVenues": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
           "Основное"
         ],
        "summary": "Возвращает массив площадок",
        "operationId": "15ba7e4e3af80cb40a6b63075dfb6405",
        "description": " ",
        "requestBody": {
          "required": true,
          "description": " ",
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                   "email": {
                     "description": "Адрес электронной почты авторизованного пользователя. Необходим для ведения логов. При наличии обязателен для передачи",
                     "type": "string",
                     "example": "agent@astra-marine.ru"
                   }
                  },
                "type": "object"
                }
              }
            }
        },
        "responses": {
           "200": {
             "description": "Успешный ответ",
             "content": {
               "applicatio/json": {
                 "schema": {
                   "properties": {
                     "venues": {
                       "type": "array",
                       "description": "Массив площадок",
                       "items": {
                         "properties": {
                           "venueID": {
                             "type": "string",
                             "example": "000000066",
                             "description": "Идентификатор площадки"
                           },
                           "venueName": {
                             "type": "string",
                             "example": "KARAKATICA-5",
                             "description": "Наименование площадки"
                           },
                           "nameEng": {
                             "type": "string",
                             "example": "KARAKATICA-5",
                             "description": "Наименование площадки англ"
                           },
                           "aliasVenue": {
                             "type": "string",
                             "example": "KARAKATICA",
                             "description": "Тип площадки"
                           }
                         }
                       }
                       
                       }
                   },
                   "type": "object"
                 }
               }
             }
           }
         }
      }
    },
    "/InternetSale/V1/getPiers": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
           "Основное"
         ],
        "summary": "Возвращает массив площадок",
        "operationId": "15ba7e4e3af80cb40a6b63075dfb6335",
        "description": " ",
        "requestBody": {
          "required": true,
          "description": " ",
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                 "pierID": {
                     "description": "Индентификатор причала",
                     "type": "string",
                     "example": "000000001"
                   },
                   "email": {
                     "description": "Адрес электронной почты авторизованного пользователя. Необходим для ведения логов. При наличии обязателен для передачи",
                     "type": "string",
                     "example": "agent@astra-marine.ru"
                   }
                  },
                "type": "object"
                }
              }
            }
        },
        "responses": {
           "200": {
             "description": "Успешный ответ",
             "content": {
               "applicatio/json": {
                 "schema": {
                   "properties": {
                     "piers": {
                       "type": "array",
                       "description": "Массив причалов",
                       "items": {
                         "properties": {
                           "pierID": {
                             "type": "string",
                             "example": "000000002",
                             "description": "Идентификатор причала"
                           },
                           "pierName": {
                             "type": "string",
                             "example": "\"Спуск со львами\" Адмиралтейская наб, 2",
                             "description": "Наименование причала"
                           },
                           "pierAddress": {
                             "type": "string",
                             "example": "Адмиралтейская наб, 2",
                             "description": "Адрес причала"
                           },
                           "pierLat": {
                             "type": "string",
                             "example": "59.939713",
                             "description": "Координаты причалы"
                           },
                           "pierLon": {
                             "type": "string",
                             "example": "30.308216",
                             "description": "Координаты причалы"
                           }
                         }
                       }
                       
                       }
                   },
                   "type": "object"
                 }
               }
             }
           }
         }
      }
    },
    "/InternetSale/V1/getRouteStartEndPoints": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
           "Основное"
         ],
        "summary": "Возвращает массив начальных и конечных точек маршрута",
        "operationId": "15ba7e4e3af80cb40a6b63075dfb6906",
        "description": " ",
        "requestBody": {
          "required": true,
          "description": "Массив начальных и конечных точек маршрута",
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                   "pointID": {
                     "description": "Отбор по ID точки отпраления/завершения маршрута",
                     "type": "string",
                     "example": "000000084"
                   },
                   "email": {
                     "description": "Адрес электронной почты авторизованного пользователя. Необходим для ведения логов. При наличии обязателен для передачи",
                     "type": "string",
                     "example": "agent@astra-marine.ru"
                   }
                  },
                "type": "object"
                }
              }
            }
        },
        "responses": {
           "200": {
             "description": "Успешный ответ",
             "content": {
               "applicatio/json": {
                 "schema": {
                   "properties": {
                     "points": {
                       "type": "array",
                       "items": {
                         "properties": {
                           "pointID": {
                             "type": "string",
                             "example": "000000084",
                             "description": "Идентификатор точки"
                           },
                           "pointName": {
                             "type": "string",
                             "example": "ул. Марата 86",
                             "description": "Наименование точки"
                           },
                           "pointAddress": {
                             "type": "string",
                             "example": "ул. Марата 86",
                             "description": "Адрес точки"
                           },
                           "pointLat": {
                             "type": "string",
                             "example": "",
                             "description": "Широта"
                           },
                           "pointLon": {
                             "type": "string",
                             "example": "",
                             "description": "Долгота"
                           },
                           "pointWheelchairBoarding": {
                             "type": "string",
                             "example": "",
                             "description": "Ограничения для посадки для людей с ограниченными возможностями."
                           }
                         }
                       },
                       "description": "Массив точек отправления/завершения"  
                      }
                   },
                   "type": "object"
                 }
               }
             }
           }
         }
      }
    },
    "/InternetSale/V1/getEvents": {
       "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
           "Основное"
         ],
        "summary": "Возвращает массив мероприятий за выбранный период",
        "operationId": "15ba7e4e3af80cb40a6b63075dfb6907",
        "description": "В случае отсутствия входных параметров возвращается массив мероприятий за период: начало дня ТекущейДаты по конец дня ТекущейДаты.",
        "requestBody": {
          "required": true,
          "description": "Массив начальных и конечных точек маршрута",
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                   "dateFrom": {
                     "description": "Дата начала запрашиваемого периода. При пустой устанавливается текущая дата.",
                     "type": "string",
                     "example": "2020-04-15T00:00:00"
                   },
                   "dateTo": {
                     "description": "Дата окончания запрашиваемого периода.  При пустой устанавливается конец дня текущей даты.",
                     "type": "string",
                     "example": "2020-04-15T00:00:00"
                   },
                   "serviceID": {
                     "description": "Идентификатор услуги. Устанавливает отбор по услуге.",
                     "type": "string",
                     "example": ""
                   },
                    "eventID": {
                     "description": "Идентификатор мероприятия. Устанавливает отбор по мероприятию.",
                     "type": "string",
                     "example": ""
                   },
                   "pointStartID": {
                     "description": "Отбор по точке отправления мероприятия",
                     "type": "string",
                     "example": ""
                   },
                   "seatsByGroups": {
                     "description": "Запрашивать количество мест по группам (значительно увеличивает время обработки запроса). Применяйте ограничения.",
                     "type": "boolean",
                     "example": false
                   },
                   "getTicketType": {
                     "description": "Запрашивать виды билетов (значительно увеличивает время обработки запроса).",
                     "type": "boolean",
                     "example": false
                   },
                   "email": {
                     "description": "Адрес электронной почты авторизованного пользователя. Необходим для ведения логов. При наличии обязателен для передачи.",
                     "type": "string",
                     "example": "agent@astra-marine.ru"
                   }
                  },
                "type": "object"
                }
              }
            }
        },
        "responses": {
           "200": {
             "description": "Успешный ответ",
             "content": {
               "applicatio/json": {
                 "schema": {
                   "properties": {
                     "events": {
                       "type": "array",
                       "items": {
                         "properties": {
                           "eventID": {
                             "type": "string",
                             "example": "000000084",
                             "description": "Идентификатор мероприятия"
                           },
                           "eventName": {
                             "type": "string",
                             "example": "City Sightseeing BUS 26.04.2023 11:00:00",
                             "description": "Наименование мероприятия"
                           },
                           "eventDateTime": {
                             "type": "string",
                             "example": "2023-04-26T11:00:00",
                             "description": "Дата и время мероприятия. (Для типов услуг Date, Place может принимать значения: Дата и Пусто соответственно)"
                           },
                           "serviceID": {
                             "type": "string",
                             "example": "000000010",
                             "description": "Идентификатор услуги"
                           },
                           "serviceName": {
                             "type": "string",
                             "example": "City Sightseeing BUS",
                             "description": "Наименование услуги"
                           },
                           "venueID": {
                             "type": "string",
                             "example": "000000019",
                             "description": "Идентификатор площадки"
                           },
                           "venueName": {
                             "type": "string",
                             "example": "City Sightseeing BUS",
                             "description": "Наименование площадки"
                           },
                           "eventFreeSeating": {
                             "type": "boolean",
                             "example": false,
                             "description": "Свободная рассадка. Признак того, что для данного мероприятия не предусмотрена рассадка по местам. Следовательно при использовании методов с входящим параметром seatID, таких как getSeatPrices, registerOrder, не нужно передавать параметры seatID. Но необходимо передать параметр seatCategoryID"
                           },
                           "eventNoSeats": {
                             "type": "boolean",
                             "example": true,
                             "description": "Без мест. Признак того, что для данного мероприятия не предусмотрена схема рассадки. Следовательно при использовании методов с входящими параметрами seatCategoryID, seatID таких как getSeatPrices, registerOrder, не нужно передавать параметры  seatCategoryID, seatID"
                           },
                           "ServiceGroupName": {
                             "type": "string",
                             "example": "",
                             "description": "Наименование группы услуг"
                           },
                           "pierID": {
                             "type": "string",
                             "example": "000000062",
                             "description": "Идентификатор места отправления (Места проведения)."
                           },
                           "pierName": {
                             "type": "string",
                             "example": "Исаакиевский собор",
                             "description": "Наименование места отправления (Места проведения)."
                           },
                           "eventDuration": {
                             "type": "integer",
                             "example": 60,
                             "description": "Продолжительность мероприятия в минутах"
                           },
                           "statusRequestBuyer": {
                             "type": "boolean",
                             "example": true,
                             "description": "Показывает необходимость запроса у покупателя статуса «Резидент», «Не резидент». Если параметр принимает значение true, то при использовании методов с входящим параметром  «resident», таких как getSeatPrices, registerOrder, необходимо передать значение параметра «resident»."
                           },
                           "endPointID": {
                             "type": "string",
                             "example": "000000062",
                             "description": "ID конечной точки мероприятия."
                           },
                           "endPointName": {
                             "type": "string",
                             "example": "Исаакиевский собор",
                             "description": "ID конечной точки мероприятия."
                           },
                           "eventQuantityLimit": {
                             "type": "boolean",
                             "example": false,
                             "description": "Определяет необходимость запрос мест по мероприятию (вызов метода seatsOnEvent)<br>- true – вызываем<br>- false – не вызываем"
                           },
                           "availableSeats": {
                             "type": "integer",
                             "example": 60,
                             "description": "Доступное кол-во мест на момент запроса."
                           },
                           "barcodeType": {
                             "type": "string",
                             "example": "EAN_13",
                             "description": "Тип ШК для услуги<br> -EAN_13<br> - ITF<br> - CODE_128A<br> - CODE_128B<br> - CODE_128C<br> - CODE_39<br> - QR"
                           },
                           "seatCategories": {
                             "type": "array",
                             "description": "Массив свободных мест по категориям",
                             "items": {
                               "properties": {
                                 "seatCategoryID": {
                                   "type": "string",
                                   "example": "",
                                   "description": "ID – категории мест"
                                 },
                                 "seatCategoryName": {
                                   "type": "string",
                                   "example": "",
                                   "description": "Наименование категории мест"
                                 },
                                 "availableSeats": {
                                   "type": "integer",
                                   "example": 60,
                                   "description": "Доступное кол-во мест"
                                 }
                                }
                             }
                           },
                           "ticketTypes": {
                             "type": "array",
                             "description": "Массив типов билетов доступных на мероприятии",
                             "items": {
                               "properties": {
                                 "ticketTypeID": {
                                   "type": "string",
                                   "example": "",
                                   "description": "ID – типа мест"
                                 },
                                 "ticketTypeName": {
                                   "type": "string",
                                   "example": "",
                                   "description": "Наименование типа мест"
                                 }
                                }
                             }
                           }
                         }
                       },
                       "description": "Массив мероприятий"  
                      }
                   },
                   "type": "object"
                 }
               }
             }
           }
         }
      }
    },
    "/InternetSale/V1/getSeatCategories": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
           "Основное"
         ],
        "summary": "Возвращает массив групп мест площадки мероприятия",
        "operationId": "15ba7e4e3af80cb40a6b63075dfb6908",
        "description": "Имеет смысл запрашивать только если возвращаемый параметр eventNoSeats, метода getEvents, принимает значение false, то есть для площадки определена схема",
        "requestBody": {
          "required": true,
          "description": "Массив начальных и конечных точек маршрута",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "eventID"
                ],
                "properties": {
                   "eventID": {
                     "description": "Идентификатор мероприятия",
                     "type": "string",
                     "example": "000000084"
                   },
                   "email": {
                     "description": "Адрес электронной почты авторизованного пользователя. Необходим для ведения логов. При наличии обязателен для передачи",
                     "type": "string",
                     "example": "agent@astra-marine.ru"
                   }
                  },
                "type": "object"
                }
              }
            }
        },
        "responses": {
           "200": {
             "description": "Успешный ответ",
             "content": {
               "applicatio/json": {
                 "schema": {
                   "properties": {
                     "seatCategories": {
                       "type": "array",
                       "items": {
                         "properties": {
                           "seatCategoryID": {
                             "type": "string",
                             "example": "000000002",
                             "description": "Идентификатор группы мест"
                           },
                           "seatCategoryName": {
                             "type": "string",
                             "example": "Standard",
                             "description": "Наименование группы мест"
                           },
                           "availableSeats": {
                             "type": "integer",
                             "example": 50,
                             "description": "Свободные места в категории для мероприятия"
                           }
                         }
                       },
                       "description": "Массив групп мест"  
                      }
                   },
                   "type": "object"
                 }
               }
             }
           }
         }
      }
    },
    "/InternetSale/V1/getSeatsOnEvent": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
           "Основное"
         ],
        "summary": "Возвращает массив мест для мероприятия",
        "operationId": "15ba7e4e3af80cb40a6b63075dfb6909",
        "description": "Если мероприятие недоступно для продажи (отменено, закончена продажа через интернет) возвращает пустой массив. Метод предназначен для отрисовки карты площадки. Не использовать для подсчета доступного кол-ва мест к продаже",
        "requestBody": {
          "required": true,
          "description": "Массив мест",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "eventID"
                ],
                "properties": {
                   "eventID": {
                     "description": "Идентификатор мероприятия",
                     "type": "string",
                     "example": "000000084"
                   },
                   "email": {
                     "description": "Адрес электронной почты авторизованного пользователя. Необходим для ведения логов. При наличии обязателен для передачи",
                     "type": "string",
                     "example": "agent@astra-marine.ru"
                   }
                  },
                "type": "object"
                }
              }
            }
        },
        "responses": {
           "200": {
             "description": "Успешный ответ",
             "content": {
               "applicatio/json": {
                 "schema": {
                   "properties": {
                     "seatCategories": {
                       "type": "array",
                       "items": {
                         "properties": {
                           "seatCategoryID": {
                             "type": "string",
                             "example": "000000002",
                             "description": "Идентификатор группы мест"
                           },
                           "seatCategoryName": {
                             "type": "string",
                             "example": "Standard",
                             "description": "Наименование группы мест"
                           },
                           "availableSeats": {
                             "type": "integer",
                             "example": 50,
                             "description": "Свободные места в категории для мероприятия"
                           }
                         }
                       },
                       "description": "Массив групп мест"  
                      }
                   },
                   "type": "object"
                 }
               }
             }
           }
         }
      }
    },
    "/InternetSale/V1/bookingSeat": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
           "Основное"
         ],
        "summary": "Выбор места для последующий продажи",
        "operationId": "15ba7e4e3af80cb40a6b63075dfb6910",
        "description": "выбор места для последующий продажи, чтобы исключить ситуацию, когда выбранное пользователем место будет продано/забронировано другим пользователем или кассиром, в период между выбором места и непосредственной продажей. Не применяется если возвращаемый параметр eventNoSeats, метода getEvents, принимает значение true или возвращаемый параметр eventFreeSeating, метода getEvents, принимает значение true.",
        "requestBody": {
          "required": true,
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "eventID",
                  "sessionID",
                  "seatID"
                ],
                "properties": {
                   "eventID": {
                     "description": "Идентификатор мероприятия",
                     "type": "string",
                     "example": "000065219"
                   },
                   "sessionID": {
                     "description": "Идентификатор сессии пользователя на сайте. Нужен для того,  чтобы в дальнейшем (при продаже) понимать, что это место выбрано именно этим пользователем и может продано только ему.",
                     "type": "string",
                     "example": "000000004"
                   },
                   "seatID": {
                     "description": "Идентификатор посадочного места",
                     "type": "string",
                     "example": "M2"
                   },
                   "email": {
                     "description": "Адрес электронной почты авторизованного пользователя. Необходим для ведения логов. При наличии обязателен для передачи",
                     "type": "string",
                     "example": "agent@astra-marine.ru"
                   }
                  },
                "type": "object"
                }
              }
            }
        },
        "responses": {
           "200": {
             "description": "Успешный ответ",
             "content": {
               "applicatio/json": {
                 "schema": {
                   "properties": {
                     "isSeatBooked": {
                       "type": "boolean",
                       "example": true,
                       "description": "Результат бронирования места"
                     },
                     "descriptionSeatBooked": {
                       "type": "string",
                       "example": "OK",
                       "description": "Описание результат бронирования:<br>ОтказБронь – Место уже забронировано. Выбор невозможен<br>ОтказПродано – Место уже продано. Выбор невозможен<br>ОтказВыбрано – Место уже выбрано. Выбор невозможен.<br>ОК – Удачный выбор места<br>ОшибкаВыбора – ошибка системы"
                     }
                   },
                   "type": "object"
                 }
               }
             }
           }
         }
      }
    },
    "/InternetSale/V1/cancelBookSeat": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
           "Основное"
         ],
        "summary": "Отмена выбора места",
        "operationId": "15ba7e4e3af80cb40a6b63075dfb6911",
        "description": "Отменяет бронь с выбранных мест указанного мероприятия",
        "requestBody": {
          "required": true,
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "eventID",
                  "sessionID"
                ],
                "properties": {
                   "eventID": {
                     "description": "Идентификатор мероприятия",
                     "type": "string",
                     "example": "000065219"
                   },
                   "sessionID": {
                     "description": "Идентификатор сессии пользователя на сайте. Нужен для того,  чтобы в дальнейшем (при продаже) понимать, что это место выбрано именно этим пользователем и может продано только ему.",
                     "type": "string",
                     "example": "000000004"
                   },
                   "seatID": {
                     "description": "Идентификатор посадочного места",
                     "type": "string",
                     "example": "M2"
                   },
                   "email": {
                     "description": "Адрес электронной почты авторизованного пользователя. Необходим для ведения логов. При наличии обязателен для передачи",
                     "type": "string",
                     "example": "agent@astra-marine.ru"
                   }
                  },
                "type": "object"
                }
              }
            }
        },
        "responses": {
           "200": {
             "description": "Успешный ответ",
             "content": {
               "applicatio/json": {
                 "schema": {
                   "properties": {
                     "isCanceledBookSeat": {
                       "type": "boolean",
                       "example": true,
                       "description": "Результат отмены бронирования места"
                     },
                     "descriptionSeatBooked": {
                       "type": "string",
                       "example": "OK",
                       "description": "Описание результата отмены бронирования:<br> - OK<br> - НеНайдено"
                     }
                   },
                   "type": "object"
                 }
               }
             }
           }
         }
      }
    },
    "/InternetSale/V1/refreshBooking": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
           "Основное"
         ],
        "summary": "Продление бронирования",
        "operationId": "15ba7e4e3af80cb40a6b63075dfb6811",
        "description": "Продление бронирования на определенное время в зависимости от настроек пользователя в системе",
        "requestBody": {
          "required": true,
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "sessionID"
                ],
                "properties": {
                   "eventID": {
                     "description": "Идентификатор мероприятия",
                     "type": "string",
                     "example": "000065219"
                   },
                   "sessionID": {
                     "description": "Идентификатор сессии пользователя на сайте",
                     "type": "string",
                     "example": "000000004"
                   },
                   "email": {
                     "description": "Адрес электронной почты авторизованного пользователя. Необходим для ведения логов. При наличии обязателен для передачи",
                     "type": "string",
                     "example": "agent@astra-marine.ru"
                   }
                  },
                "type": "object"
                }
              }
            }
        },
        "responses": {
           "200": {
             "description": "Успешный ответ",
             "content": {
               "applicatio/json": {
                 "schema": {
                   "properties": {
                     "isCanceledBookSeat": {
                       "type": "boolean",
                       "example": true,
                       "description": "Результат продления"
                     },
                     "descriptionSeatBooked": {
                       "type": "string",
                       "example": "OK",
                       "description": "Описание результат бронирования:<br>Отказ - По заданным параметрам бронирование отсутствует.<br>ОК – Успешное продление"
                     }
                   },
                   "type": "object"
                 }
               }
             }
           }
         }
      }
    },
    "/InternetSale/V1/getTicketType": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
           "Основное"
         ],
        "summary": "Возвращает массив видов билетов для мероприятия",
        "operationId": "15ba7e4e3af80cb40a6b63075dfb6912",
        "description": " ",
        "requestBody": {
          "required": true,
          "description": "Массив типов билетов",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "eventID"
                ],
                "properties": {
                   "eventID": {
                     "description": "Идентификатор мероприятия",
                     "type": "string",
                     "example": "000000084"
                   },
                   "email": {
                     "description": "Адрес электронной почты авторизованного пользователя. Необходим для ведения логов. При наличии обязателен для передачи",
                     "type": "string",
                     "example": "agent@astra-marine.ru"
                   }
                  },
                "type": "object"
                }
              }
            }
        },
        "responses": {
           "200": {
             "description": "Успешный ответ",
             "content": {
               "applicatio/json": {
                 "schema": {
                   "properties": {
                     "ticketTypes": {
                       "type": "array",
                       "items": {
                         "properties": {
                           "ticketTypeID": {
                             "type": "string",
                             "example": "000000002",
                             "description": "Идентификатор вида билета"
                           },
                           "ticketTypeName": {
                             "type": "string",
                             "example": "Стандарт | Standard",
                             "description": "Наименование вида билета"
                           }
                         }
                       },
                       "description": "Массив видов билета"  
                      }
                   },
                   "type": "object"
                 }
               }
             }
           }
         }
      }
    },
    "/InternetSale/V1/getPaymentTypes": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
           "Основное"
         ],
        "summary": "Возвращает массив доступных видов  оплат для партнера",
        "operationId": "15ba7e4e3af80cb40a6b63075dfb6913",
        "description": "Заказ с видом оплаты, для которого установлен hasPaymentMethod = true, со стороннего сайта, сформирован не будет, так как прием средств нашими платежными системами невозможен",
        "requestBody": {
          "required": true,
          "description": " ",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "email"
                ],
                "properties": {
                   "email": {
                     "description": "Адрес электронной почты авторизованного пользователя. Необходим для ведения логов. При наличии обязателен для передачи",
                     "type": "string",
                     "example": "agent@astra-marine.ru"
                   }
                  },
                "type": "object"
                }
              }
            }
        },
        "responses": {
           "200": {
             "description": "Успешный ответ",
             "content": {
               "applicatio/json": {
                 "schema": {
                   "properties": {
                     "paymentTypes": {
                       "type": "array",
                       "items": {
                         "properties": {
                           "paymentID": {
                             "type": "string",
                             "example": "000000001",
                             "description": "Идентификатор вида оплаты"
                           },
                           "paymentName": {
                             "type": "string",
                             "example": "Депозит",
                             "description": "Наименование вида оплаты"
                           },
                           "hasPaymentMethod": {
                             "type": "boolean",
                             "example": false,
                             "description": "Определяет необходимость передачи оплаты в платежные системы"
                           },
                           "isDefault": {
                             "type": "boolean",
                             "example": false,
                             "description": "Используется по умолчанию"
                           }
                         }
                       },
                       "description": "Массив доступных видов оплат"  
                      }
                   },
                   "type": "object"
                 }
               }
             }
           }
         }
      }
    },
    "/InternetSale/V1/chekDeposit": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
           "Основное"
         ],
        "summary": "Проверка депозита",
        "operationId": "15ba7e4e3af80cb40a6b63075dfb6973",
        "description": "Метод позволяет проверить достаточна ли сумма депозита для оплаты заказа. Так же можно воспользоваться для запроса остатка депозита передав в параметр amountOrder значение 1.",
        "requestBody": {
          "required": true,
          "description": " ",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "email",
                  "amountOrder"
                ],
                "properties": {
                  "email": {
                     "description": "Адрес электронной почты",
                     "type": "string",
                     "example": "agent@astra-marine.ru"
                   },
                   "amountOrder": {
                     "description": "Сумма заказа",
                     "type": "integer",
                     "example": 1
                   }
                  },
                "type": "object"
                }
              }
            }
        },
        "responses": {
           "200": {
             "description": "Успешный ответ",
             "content": {
               "applicatio/json": {
                 "schema": {
                   "properties": {
                     "status": {
                       "type": "boolean",
                       "example": true,
                       "description": "Статус проверки"  
                      },
                       "amountDeposit": {
                       "type": "integer",
                       "example": 95000,
                       "description": "Остаток депозита"  
                      }
                   },
                   "type": "object"
                 }
               }
             }
           }
         }
      }
    },
    "/InternetSale/V1/getSeatPrices": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
           "Основное"
         ],
        "summary": "Возвращает массив цен на мероприятие",
        "operationId": "15ba7e4e3af80cb40a6b63075dfb6914",
        "description": "При передачи  ticketTypeID, seatCategoryID не относящихся к переданному мероприятию метод вернет пустой массив.",
        "requestBody": {
          "required": true,
          "description": " ",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "eventID",
                  "ticketTypeID"
                ],
                "properties": {
                   "eventID": {
                     "description": "Идентификатор мероприятия.",
                     "type": "string",
                     "example": "000065127"
                   },
                   "ticketTypeID": {
                     "description": "Идентификатор вида билета.",
                     "type": "string",
                     "example": "000000002"
                   },
                   "seatCategoryID": {
                     "description": "Категория посадочных мест.<br>Пусто если:<br>- возвращаемый параметр eventNoSeats, метода getEvents, принимает значение true В противном случае обязателен для передачи.",
                     "type": "string",
                     "example": "000000002"
                   },
                   "paymentTypeID": {
                     "description": "Идентификатор вида оплаты(обязателен для передачи для агентов)",
                     "type": "string",
                     "example": "000000001"
                   },
                   "resident": {
                     "description": "Указывает на статус покупателя.<br>true – гражданин РФ<br>false – иностранный гражданин<br>Пусто если:<br>- возвращаемый параметр statusRequestBuyer, метода getEvents, принимает значение true",
                     "type": "boolean"
                      
                   },
                   "additional": {
                     "description": "Обратный рейс",
                     "type": "boolean"
                   },
                   "email": {
                     "description": "Адрес электронной почты авторизованного пользователя. Необходим для ведения логов. При наличии обязателен для передачи",
                     "type": "string",
                     "example": "agent@astra-marine.ru"
                   }
                  },
                "type": "object"
                }
              }
            }
        },
        "responses": {
           "200": {
             "description": "Успешный ответ",
             "content": {
               "applicatio/json": {
                 "schema": {
                   "properties": {
                     "seatPrices": {
                       "type": "array",
                       "items": {
                         "properties": {
                           "priceTypeID": {
                             "type": "string",
                             "example": "000000001",
                             "description": "Идентификатор типа цены"
                           },
                           "priceTypeName": {
                             "type": "string",
                             "example": "Полный | Adult",
                             "description": "Наименование типа цены"
                           },
                           "priceTypeValue": {
                             "type": "integer",
                             "example": 1300,
                             "description": "Цена в руб"
                           },
                           "priceTypeValueRetail": {
                             "type": "integer",
                             "example": 1600,
                             "description": "Цена в интернет магазине Астра Марин"
                           },
                           "priceTypeValueBoxOffice": {
                             "type": "integer",
                             "example": 1800,
                             "description": "Цена в кассах на причалах ГК Астра Марин"
                           },
                           "priceTypeValueEKP": {
                             "type": "integer",
                             "description": "Цена ЕКП (только для внутреннего пользования). Не доступен для агентов"
                           },
                           "priceTypeDescription": {
                             "type": "string",
                             "example": "Взрослый",
                             "description": "Цена ЕКП (только для внутреннего пользования). Не доступен для агентов"
                           },
                           "tiketTypeName": {
                             "type": "string",
                             "example": "Полный | Adult",
                             "description": "Наименование вида билета"
                           },
                           "seatCategoryName": {
                             "type": "string",
                             "example": "Standard",
                             "description": "Наименование категории места"
                           },
                            "isAdult": {
                             "type": "boolean",
                             "example": false,
                             "description": "Указывает на признак взрослого"
                           },
                           "hasMenu": {
                             "type": "boolean",
                             "example": true,
                             "description": "Указывает на наличие пакетного предложения меню у цены"
                           },
                           "menu": {
                             "type": "array",
                             "items": {
                               "properties": {
                                 "menuID": {
                                   "type": "string",
                                   "example": "00000001",
                                   "description": "Идентификатор пакета меню."
                                 },
                                 "menuName": {
                                   "type": "string",
                                   "example": "Блюдо",
                                   "description": "Наименование пакета меню"
                                 }
                               }
                               },
                             "description": "Массив пакетов меню"  
                           }
                         }
                       },
                       "description": "Массив цен"  
                      }
                   },
                   "type": "object"
                 }
               }
             }
           }
         }
      }
    },
    "/InternetSale/V1/getSeatPricesAll ": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
           "Основное"
         ],
        "summary": "возвращает массив цен на мероприятие",
        "operationId": "15ba7e4e3af80cb40a6b63075dfb6714",
        "description": "При передачи  ticketTypeID, seatCategoryID не относящихся к переданному мероприятию метод вернет пустой массив.",
        "requestBody": {
          "required": true,
          "description": " ",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "eventID"
                ],
                "properties": {
                   "eventID": {
                     "description": "Идентификатор мероприятия.",
                     "type": "string",
                     "example": "000065127"
                   },
                   "ticketTypeID": {
                     "description": "Идентификатор вида билета.(фильтр по виду билета)",
                     "type": "string",
                     "example": "000000002"
                   },
                   "seatCategoryID": {
                     "description": "Категория посадочных мест.(фильтр по категории мест)<br>Пусто если:<br>- возвращаемый параметр eventNoSeats, метода getEvents, принимает значение true В противном случае обязателен для передачи.",
                     "type": "string",
                     "example": "000000002"
                   },
                   "paymentTypeID": {
                     "description": "Идентификатор вида оплаты(обязателен для передачи для агентов)",
                     "type": "string",
                     "example": "000000001"
                   },
                   "resident": {
                     "description": "Указывает на статус покупателя.<br>true – гражданин РФ<br>false – иностранный гражданин<br>Пусто если:<br>- возвращаемый параметр statusRequestBuyer, метода getEvents, принимает значение true",
                     "type": "boolean"
                   },
                   "additional": {
                     "description": "Обратный рейс",
                     "type": "boolean",
                     "example": false
                   },
                   "email": {
                     "description": "Адрес электронной почты авторизованного пользователя. Необходим для ведения логов. При наличии обязателен для передачи",
                     "type": "string",
                     "example": "agent@astra-marine.ru"
                   }
                  },
                "type": "object"
                }
              }
            }
        },
        "responses": {
           "200": {
             "description": "Успешный ответ",
             "content": {
               "applicatio/json": {
                 "schema": {
                   "properties": {
                     "seatPrices": {
                       "type": "array",
                       "items": {
                         "properties": {
                           "priceTypeID": {
                             "type": "string",
                             "example": "000000001",
                             "description": "Идентификатор типа цены"
                           },
                           "priceTypeName": {
                             "type": "string",
                             "example": "Полный | Adult",
                             "description": "Наименование типа цены"
                           },
                           "priceTypeValue": {
                             "type": "integer",
                             "example": 1300,
                             "description": "Цена в руб"
                           },
                           "priceTypeValueRetail": {
                             "type": "integer",
                             "example": 1600,
                             "description": "Цена в интернет магазине Астра Марин"
                           },
                           "priceTypeValueBoxOffice": {
                             "type": "integer",
                             "example": 1800,
                             "description": "Цена в кассах на причалах ГК Астра Марин"
                           },
                           "priceTypeValueEKP": {
                             "type": "integer",
                             "description": "Цена ЕКП (только для внутреннего пользования). Не доступен для агентов"
                           },
                           "priceTypeDescription": {
                             "type": "string",
                             "example": "Взрослый",
                             "description": "Цена ЕКП (только для внутреннего пользования). Не доступен для агентов"
                           },
                           "tiketTypeName": {
                             "type": "string",
                             "example": "Полный | Adult",
                             "description": "Наименование вида билета"
                           },
                           "seatCategoryName": {
                             "type": "string",
                             "example": "Standard",
                             "description": "Наименование категории места"
                           },
                            "isAdult": {
                             "type": "boolean",
                             "example": false,
                             "description": "Указывает на признак взрослого"
                           },
                           "hasMenu": {
                             "type": "boolean",
                             "example": true,
                             "description": "Указывает на наличие пакетного предложения меню у цены"
                           },
                           "menu": {
                             "type": "array",
                             "items": {
                               "properties": {
                                 "menuID": {
                                   "type": "string",
                                   "example": "00000001",
                                   "description": "Идентификатор пакета меню."
                                 },
                                 "menuName": {
                                   "type": "string",
                                   "example": "Блюдо",
                                   "description": "Наименование пакета меню"
                                 }
                               }
                               },
                             "description": "Массив пакетов меню"  
                           }
                         }
                       },
                       "description": "Массив цен"  
                      }
                   },
                   "type": "object"
                 }
               }
             }
           }
         }
      }
    },
    "/InternetSale/V1/getSumByCardSpb": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
           "Основное"
         ],
        "summary": "Возвращает статус карты ЕКП, а так же цену при ее применении",
        "operationId": "15ba7e4e3af80cb40a6b63075dfb6915",
        "description": "Возвращает статус карты ЕКП, а так же цену при ее применении",
        "requestBody": {
          "required": true,
          "description": " ",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "eventID",
                  "ticketTypeID"
                ],
                "properties": {
                   "eventID": {
                     "description": "Идентификатор мероприятия.",
                     "type": "string",
                     "example": "000065127"
                   },
                   "ticketTypeID": {
                     "description": "Идентификатор вида билета.",
                     "type": "string",
                     "example": "000000002"
                   },
                   "resident": {
                     "description": "Указывает на статус покупателя.<br>true – гражданин РФ<br>false – иностранный гражданин<br>Пусто если:<br>- возвращаемый параметр statusRequestBuyer, метода getEvents, принимает значение true",
                     "type": "boolean",
                     "example": true
                   },
                   "email": {
                     "description": "Адрес электронной почты авторизованного пользователя. Необходим для ведения логов. При наличии обязателен для передачи",
                     "type": "string",
                     "example": "agent@astra-marine.ru"
                   },
                   "cardsSPB": {
                     "description": "Массив карт ЕКП",
                     "type": "array",
                     "items": {
                       "required": ["priceTypeID"],
                       "properties": {
                         "key": {
                           "type": "string",
                           "example": "34",
                           "description": "Идентификатор строки"
                         },
                         "seatID": {
                           "type": "string",
                           "example": "",
                           "description": "Идентификатор посадочного места"
                         },
                         "seatCategoryID": {
                           "type": "string",
                           "example": "000000002",
                           "description": "Идентификатор категории мест"
                         },
                         "priceTypeID": {
                           "type": "string",
                           "example": "000000001",
                           "description": "Идентификатор типа цены"
                         },
                         "card": {
                           "type": "string",
                           "example": "2342342342412424242",
                           "description": "Идентификатор карты ЕКП"
                         }
                       }
                     }
                     
                   }
                  },
                "type": "object"
                }
              }
            }
        },
        "responses": {
           "200": {
             "description": "Успешный ответ",
             "content": {
               "applicatio/json": {
                 "schema": {
                   "properties": {
                     "cardsSPB": {
                       "type": "array",
                       "items": {
                         "properties": {
                           "key": {
                             "type": "string",
                             "example": "34",
                             "description": "Идентификатор строки"
                           },
                           "isValid": {
                             "type": "boolean",
                             "example": false,
                             "description": "Валидна карта или нет"
                           },
                           "price": {
                             "type": "integer",
                             "example": 700,
                             "description": "Цена в руб"
                           }
                         }
                       },
                       "description": "Массив карт"  
                      }
                   },
                   "type": "object"
                 }
               }
             }
           }
         }
      }
    },
    "/InternetSale/V1/registerOrder": {
      "post": {
        "security": [
		{
          "bearerAuth": []
		}
        ],
        "tags": [
          "Основное"
        ],
        "summary": "Регистрация в системе заказа",
        "operationId": "15ba7e4e3af80cb40a6b63075dfb6916",
        "description": "После успешного выполнения метода все заказы попадают в лист ожидания «Подтверждения оплаты»/ «Подтверждение заказа». По истечении установленного лимита времени на данный момент 30 минут не подтвержденный заказ удаляется из системы. Для подтверждения заказа необходимо использовать метод confirmPayment. В случае isOrderRegistred = false все возвращаемые параметры метода отсутствую кроме descriptionRegistredOrder в который помещается описание ошибки. Убедительная просьба без крайней необходимости не оставлять в системе неподтвержденные заказы. При передачи заказа с Видом оплаты «Депозит», перед формированием заказ, будет проверено достаточна ли сумма депозита на счете агента, если не достаточна заказ сформирован не будет. Перед отправкой заказа рекомендуется проверить достаточно ли средств на депозите методом chekDeposit.",
        "requestBody": {
          "required": true,
          "description": " ",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "sessionID",
                  "orderID",
                  "order"
                ],
                "properties": {
                   "sessionID": {
                     "description": "Идентификатор сессии пользователя на сайте. Нужен для того, что найти и очистить выбранное ранее места.",
                     "type": "string",
                     "example": "000065127"
                   },
                   "paymentTypeID": {
                     "description": "Идентификатор Вида оплаты(Депозит, Предоплата, Постоплата). Обязателен для агентов.",
                     "type": "string",
                     "example": "000065127"
                   },
                   "discountID": {
                     "description": "Идентификатор скидки. Если передается, то обязательно должен передаваться reasonDiscountID",
                     "type": "string",
                     "example": ""
                   },
                   "reasonDiscountID": {
                     "description": "Идентификатор причины скидки. Если передается, то обязательно должен передаваться discountID",
                     "type": "string",
                     "example": ""
                   },
                   "promoterID": {
                     "description": "Идентификатор промоутера",
                     "type": "string",
                     "example": "123123"
                   },
                   "pointID": {
                     "description": "Идентификатор точки продажи",
                     "type": "string",
                     "example": ""
                   },
                   "orderID": {
                     "description": "Номер заказа.",
                     "type": "string",
                     "example": "000065127"
                   },
                   "bankOrderID": {
                     "description": "Номер заказа из банка (поле для внутреннеого пользования)",
                     "type": "string",
                     "example": "000065127"
                   },
                   "email": {
                     "description": "Адрес электронной почты",
                     "type": "string",
                     "example": "agent@astra-marine.ru"
                   },
                   "order": {
                     "description": "Массив заказа",
                     "type": "array",
                     "items": {
                       "required": [
                         "eventID",
                         "priceTypeID",
                         "ticketTypeID"
                        ],
                       "properties": {
                         "eventID": {
                           "type": "string",
                           "example": "34",
                           "description": "Идентификатор мероприятия."
                         },
                         "seatID": {
                           "type": "string",
                           "example": "",
                           "description": "Идентификатор посадочного места. Обязательно передается в случае:<br>- возвращаемый параметр eventNoSeats, метода getEvents, принимает значение false<br>и<br>- возвращаемый параметр eventFreeSeating, метода getEvents, принимает значение false<br>В противном случае ПУСТО"
                         },
                         "priceTypeID": {
                           "type": "string",
                           "example": "000000002",
                           "description": "Идентификатор типа цены"
                         },
                         "seatCategoryID": {
                           "type": "string",
                           "example": "000000001",
                           "description": "Идентификатор группы мест.<br>Обязательно передается в случае:<br>- возвращаемый параметр eventNoSeats, метода getEvents, принимает значение false<br>или<br>- возвращаемый параметр eventFreeSeating, метода getEvents, принимает значение true<br>В противном случае ПУСТО"
                         },
                         "ticketTypeID": {
                           "type": "string",
                           "example": "000000002",
                           "description": "Идентификатор вида билета"
                         },
                         "menuID": {
                           "type": "string",
                           "example": "2342342342412424242",
                           "description": "Идентификатор типа меню. Передается только в том случае если:<br>- возвращаемый параметр hasMenu, метода getSeatPrices, принимает значение true"
                         },
                         "quantityOfTickets": {
                           "type": "string",
                           "example": "2342342342412424242",
                           "description": "Количество билетов. Обязательно передается в случае:<br>- возвращаемый параметр eventNoSeats, метода getEvents, принимает значение true<br>или<br>- возвращаемый параметр eventFreeSeating, метода getEvents, принимает значение true<br>В противном случае ПУСТО"
                         },
                         "resident": {
                           "type": "boolean",
                           "description": "Указывает на статус покупателя. Обязательно передается в случае:<br>- возвращаемый параметр statusRequestBuyer, метода getEvents, принимает значение true<br>В противном случае ПУСТО"
                         },
                         "additional": {
                           "type": "boolean",
                           "description": "Указывает на то, что данный заказ на обратный рейс"
                         },
                         "cardsSPB": {
                           "type": "array",
                           "description": "Массив валидных карт ЕКП(едина карта петербуржца)<br>- для местовой рассадки ожидается либо пустой массив из либо из 1 элемента<br>- для свободной рассадки ожидается массив от 0 до quantityOfTickets элементов (Поле для внутреннего использования)",
                           "items": {
                             
                           }
                         },
                         "dishes": {
                           "type": "array",
                           "description": "Массив меню",
                           "items": {
                             
                           }
                         },
                         "cardID": {
                           "type": "string",
                           "example": "",
                           "description": "Номер дисконтной карты (Поле для внутреннего использования)"
                         },
                         "promoCode": {
                           "type": "string",
                           "example": "67",
                           "description": "Промокод (Поле для внутреннего использования)"
                         },
                         "certificateID": {
                           "type": "string",
                           "example": "711",
                           "description": "Сертификат (Поле для внутреннего использования)"
                         },
                         "buyerName": {
                           "type": "string",
                           "example": "Семен",
                           "description": "Имя покупателя"
                         },
                         "buyerEmail": {
                           "type": "string",
                           "example": "test@mail.ru",
                           "description": "Почта покупателя"
                         },
                         "buyerPhone": {
                           "type": "string",
                           "example": "88005553538",
                           "description": "Номер телефона покупателя"
                         }
                         
                       }
                     }
                     
                   }
                  },
                "type": "object"
                }
              }
            }
        },
        "responses": {
           "200": {
             "description": "Успешный ответ",
             "content": {
               "applicatio/json": {
                 "schema": {
                   "properties": {
                     "isOrderRegistred": {
                       "type": "boolean",
                       "example": true,
                       "description": "<br>true (успешная продажа)<br>false (ошибка продажи)." 
                     },
                     "descriptionRegistredOrder": {
                       "type": "string",
                       "example": "OK",
                       "description": "Описание ответа о статусе регистрации"
                     },
                     "taxSystem": {
                       "type": "integer",
                       "example": 2,
                       "description": "TODO()"
                     },
                     "orderAmount": {
                       "type": "integer",
                       "example": 2500,
                       "description": "Описание ответа о статусе регистрации"
                     },
                     "amountCertificate": {
                       "type": "integer",
                       "example": 100,
                       "description": "Сумма оплаты сертификатом(для внутреннего сайта)."
                     },
                     "amountToBePaid": {
                       "type": "integer",
                       "example": 2400,
                       "description": "Сумма к оплате(для внутреннего сайта)."
                     },
                     "discountID": {
                       "description": "Идентификатор скидки. Если передается, то обязательно должен передаваться reasonDiscountID",
                       "type": "string",
                       "example": ""
                     },
                     "reasonDiscountID": {
                       "description": "Идентификатор причины скидки. Если передается, то обязательно должен передаваться discountID",
                       "type": "string",
                       "example": ""
                     },
                     "orderedSeats": {
                       "type": "array",
                       "items": {
                         "properties": {
                           "eventID": {
                             "type": "string",
                             "example": "002702976",
                             "description": "Идентификатор места сайт."
                           },
                           "seatID": {
                             "type": "string",
                             "example": "",
                             "description": "Идентификатор места"
                           },
                           "seatAlias": {
                             "type": "string",
                             "example": "",
                             "description": "Псевдоним места"
                           },
                           "seatCategoryID": {
                             "type": "string",
                             "example": "000000111",
                             "description": "Идентификатор категории места"
                           },
                           "ticketTypeID": {
                             "type": "string",
                             "example": "000000002",
                             "description": "Идентификатор типа билета"
                           },
                           "priceTypeID": {
                             "type": "string",
                             "example": "000000001",
                             "description": "Идентификатор типа цены"
                           },
                           "price": {
                             "type": "integer",
                             "example": 2500,
                             "description": "Цена места"
                           },
                           "serviceFee": {
                             "type": "integer",
                             "example": 125,
                             "description": "Сервисный сбор"
                           },
                           "discount": {
                             "type": "integer",
                             "example": 0,
                             "description": "Скидка"
                           },
                           "priceFull": {
                             "type": "integer",
                             "example": 2500,
                             "description": "Полная цена"
                           },
                           "quantityOfTickets": {
                             "type": "integer",
                             "example": 1,
                             "description": "Количество билетов возвращается в случае:<br>- возвращаемый параметр eventNoSeats, метода getEvents, принимает значение true<br>или<br>- возвращаемый параметр eventFreeSeating, метода getEvents, принимает значение true<br>В противном случае всегда 1"
                           },
                           "vat": {
                             "type": "integer",
                             "example": 6,
                             "description": "Код налога НДС для ККТ (для внутреннего сайта).Todo()"
                           },
                           "taxType": {
                             "type": "integer",
                             "example": 6,
                             "description": "Код налога НДС для ККТ (для внутреннего сайта).Todo()"
                           },
                           "taxSystem": {
                             "type": "integer",
                             "example": 2,
                             "description": "Код налога НДС для ККТ (для внутреннего сайта).Todo()"
                           },
                           "paymentObject": {
                             "type": "integer",
                             "example": 4,
                             "description": "Код налога НДС для ККТ (для внутреннего сайта).Todo()"
                           },
                           "paymentMethod": {
                             "type": "integer",
                             "example": 4,
                             "description": "Код налога НДС для ККТ (для внутреннего сайта).Todo()"
                           },
                           "supplierName": {
                             "type": "string",
                             "example": "Наименование комитента",
                             "description": "Наименование комитента"
                           },
                           "supplierINN": {
                             "type": "string",
                             "example": "123123123",
                             "description": "ИНН комитента"
                           },
                           "supplierPhone": {
                             "type": "string",
                             "example": "+78124261718",
                             "description": "Номер комитента"
                           },
                           "agentType": {
                             "type": "string",
                             "example": "6",
                             "description": "Тип агента"
                           },
                           "amountCertificate": {
                             "type": "integer",
                             "example": 100,
                             "description": "todo()"
                           },
                           "barCodes": {
                             "type": "array",
                             "description": "Массив штрих кодов. В случае если:<br>- возвращаемый параметр numberOfTicketsPerSeat, метода getSeatsOnEvent отличен от 1 то в массиве штрих кодов будет переда соответствующее кол-во штрих кодов. Соответственно должно быть сформировано соответствующее кол-во посадочных талонов для данного места.<br>- возвращаемый параметр eventFreeSeating, eventNoSeats метода getEvents, принимает значение true количество штрих кодов будет соответствовать количеству проданных билетов.<br>- если для услуги установлен реквизит formingBarCode=false то массив штрихкодов возвращается пустым.",
                             "items": {
                             } 
                           },
                           "ticketTemplate": {
                             "type": "string",
                             "example": "",
                             "description": "todo()"
                           }                         
                         }
                       },
                       "description": "Массив мест(массив структур)."  
                      },
                      "orderedDishes": {
                       "type": "array",
                       "items": {
                         "properties": {
                           "vat": {
                             "type": "integer",
                             "example": 0,
                             "description": "Ставка НДС"
                           },
                           "dishID": {
                             "type": "string",
                             "example": "000000001",
                             "description": "Id блюда"
                           },
                           "taxType": {
                             "type": "integer",
                             "example": 0,
                             "description": "Id блюда"
                           },
                           "taxSystem": {
                             "type": "integer",
                             "example": 2,
                             "description": "Система налогообложения"
                           },
                           "paymentObject": {
                             "type": "integer",
                             "example": 2,
                             "description": "Признак предмета расчёта"
                           },
                           "paymentMethod": {
                             "type": "integer",
                             "example": 4,
                             "description": "Признак способа расчёта"
                           },
                           "supplierName": {
                             "type": "string",
                             "example": "OOO Рога и копыта",
                             "description": "Признак способа расчёта"
                           },
                           "supplierINN": {
                             "type": "string",
                             "example": "7838348128",
                             "description": "ИНН комитента"
                           },
                           "discount": {
                             "type": "integer",
                             "example": 0,
                             "description": "Скидка"
                           },
                           "numberOfDishes": {
                             "type": "integer",
                             "example": 0,
                             "description": "Количество блюд"
                           },
                           "price": {
                             "type": "integer",
                             "example": 0,
                             "description": "Стоимость"
                           },
                           "totalPrice": {
                             "type": "integer",
                             "example": 0,
                             "description": "Стоимость без скидки"
                           },
                           "serviceFee": {
                             "type": "integer",
                             "example": 0,
                             "description": "Сервисный сбор"
                           },
                           "amountCertificate": {
                             "type": "integer",
                             "example": 0,
                             "description": "Сумма оплаты сертификатом"
                           }
                         }
                       },
                       "description": "Массив мест(массив структур)."  
                      },
                      "additionalOrderedItems": {
                        "type": "array",
                        "description": "Доп. услуги",
                        "items": {
                          "properties": {
                            "name": {
                             "type": "string",
                             "example": "Сервисный сбор",
                             "description": "Наименование"
                           },
                           "price": {
                             "type": "integer",
                             "example": 455,
                             "description": "Цена"
                           },
                           "quantity": {
                             "type": "integer",
                             "example": 1,
                             "description": "Кол-во"
                           },
                           "taxType": {
                             "type": "integer",
                             "example": 12,
                             "description": "Код ставки ставки НДС"
                           },
                           "paymentMethod": {
                             "type": "integer",
                             "example": 4,
                             "description": "Признак способа расчёта"
                           },
                           "paymentObject": {
                             "type": "integer",
                             "example": 4,
                             "description": "Признак предмета расчёта"
                           },
                           "supplierName": {
                             "type": "string",
                             "example": "",
                             "description": "Наименование комитента"
                           },
                           "supplierINN": {
                             "type": "string",
                             "example": "",
                             "description": "ИНН комитента"
                           },
                           "agentType": {
                             "type": "string",
                             "example": "",
                             "description": "Тип агента"
                           }
                          }
                        }
                      }
                                     
                   },
                   "type": "object"
                 }
                 
               }
             }
           }
         }
      }  
    },
    "/InternetSale/V1/confirmPayment": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
           "Основное"
         ],
        "summary": "подтверждение оплаты, подтверждение заказа",
        "operationId": "15ba7e4e3af80cb40a6b63075dfb6917",
        "description": "Подтвержденный заказ невозможно удалить из системы 1С. По подтвержденным заказам возврат может быть оформлен методом returnOrder, если параметры заказа позволяют это сделать.",
        "requestBody": {
          "required": true,
          "description": " ",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "orderID",
                  "orderConfirm"
                ],
                "properties": {
                   "orderID": {
                     "description": "Номер заказа",
                     "type": "string",
                     "example": "000065127"
                   },
                   "orderConfirm": {
                     "description": "Номер заказа",
                     "type": "boolean",
                     "example": true
                   },
                   "email": {
                     "description": "Адрес электронной почты",
                     "type": "string",
                     "example": "agent@astra-marine.ru"
                   }
                  },
                "type": "object"
                }
              }
            }
        },
        "responses": {
           "200": {
             "description": "Успешный ответ",
             "content": {
               "applicatio/json": {
                 "schema": {
                   "properties": {
                     "cardsSPB": {
                       "type": "array",
                       "items": {
                         "properties": {
                           "orderPaymentConfirmed": {
                             "type": "boolean",
                             "example": true,
                             "description": "Результат выполнения:<br> - true – заказ зафиксирован в системе<br> - false - заказ не найден в системе"
                           },
                           "descriptionOrderPayment": {
                             "type": "string",
                             "example": "OK",
                             "description": "Описание результата выполнения"
                           }
                         }
                       },
                       "description": "Массив карт"  
                      }
                   },
                   "type": "object"
                 }
               }
             }
           }
         }
      }
    },
    "/InternetSale/V1/returnOrder": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
           "Основное"
         ],
        "summary": "Возврат заказ",
        "operationId": "15ba7e4e3af80cb40a6b63075dfb6918",
        "description": "Может быть только для агентских заказов с методами оплаты «депозит» и «постоплата». Возвраты по заказам физ. лиц и агентов с методом оплаты «предоплата» осуществляются ТОЛЬКО через офис. Частичный возврат заказа так же возможен только через офис.",
        "requestBody": {
          "required": true,
          "description": " ",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "orderID"
                ],
                "properties": {
                   "orderID": {
                     "description": "Номер заказа",
                     "type": "string",
                     "example": "000065127"
                   },
                   "email": {
                     "description": "Адрес электронной почты",
                     "type": "string",
                     "example": "agent@astra-marine.ru"
                   }
                   
                  },
                "type": "object"
                }
              }
            }
        },
        "responses": {
           "200": {
[...]
